{% extends 'base.html' %}
{% block title %} 
     بازنشانی رمز عبور
{% endblock %}

{% block main %}
<div class="w-100 d-flex justify-content-center mt-5">
    <form class="reset_password_request d-flex justify-content-center flex-column" method="POST" action="">
        {{ form.hidden_tag() }}
        <h3 class="mb-5">بازنشانی رمز عبور</h3>
        <div class="form-group  mb-4">
            {{ form.password1.label(class="form-control-label pb-2 text-start") }}
            {% if form.password1.errors %}
                <div class="input-group mb-3 iconed-input-group bg-none shadow-md is-invalid">
                    <div class="input-group-prepend">
                        <span class="icon input-group-text  bi-envelope-fill h-100 fs-4 text-black-50 bg-white" id="basic-addon1"></span>
                    </div>
                    {{ form.password1(class="form-control form-control-lg is-invalid") }}
                </div>
                    <div class="invalid-feedback">
                        {% for error in form.password1.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                
            {%else%}
                <div class="input-group mb-3 iconed-input-group bg-none shadow-md">
                    <div class="input-group-prepend">
                        <span class="icon input-group-text bi-envelope-fill  h-100 fs-4 text-black-50 bg-white" id="basic-addon1"></span>
                    </div>
                    {{ form.password1(class="form-control form-control-lg") }}
                </div>
            {%endif%}
        </div>
        <div class="form-group  mb-4">
                {{ form.password2.label(class="form-control-label pb-2 text-start") }}
                {% if form.password2.errors %}
                    <div class="input-group mb-3 iconed-input-group bg-none shadow-md is-invalid">
                        <div class="input-group-prepend">
                            <span class="icon input-group-text  bi-envelope-fill h-100 fs-4 text-black-50 bg-white" id="basic-addon1"></span>
                        </div>
                        {{ form.password2(class="form-control form-control-lg is-invalid") }}
                    </div>
                        <div class="invalid-feedback">
                            {% for error in form.password2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    
                {%else%}
                    <div class="input-group mb-3 iconed-input-group bg-none shadow-md">
                        <div class="input-group-prepend">
                            <span class="icon input-group-text bi-envelope-fill  h-100 fs-4 text-black-50 bg-white" id="basic-addon1"></span>
                        </div>
                        {{ form.password2(class="form-control form-control-lg") }}
                    </div>
                {%endif%}
            </div>
        {{ form.submit(class="btn btn-main btn-lg w-100") }}
    </form>
</div>

{% endblock main %}