{% extends 'base.html' %}
{% block title %} 
     دانشجو - نمرات
{% endblock %}

{% block main %}
    <main class="admin_dashboard h-100">
        <div class="row m-0  h-100">
            {% with active_tab = 'answers' %}
            {% include '/student/student_sidebar.html' %}
            {% endwith %}
            <div class="col-12 col-md-9 content ms-auto">
                <article class ="" id="exams">
                    <h4 class="my-4 py-4">آزمون های پیش رو:</h4>
                    
                    {% if current_user.completed_exams|length %}
                        <div><table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">عنوان آزمون</th>
                                    <th scope="col">نام درس </th>
                                    <th scope="col">نام استاد </th>
                                    <th scope="col">تاریخ</th>
                                    <th scope="col">نمره</th>
                                    
                                </tr>
                                </thead>
                                <tbody>
                                    {% for exam in current_user.completed_exams|sort(reverse=True, attribute=("date"))%}
                                        <tr>
                                            <th scope="row">{{loop.index}}</th>
                                            <td>{{ exam.name }}</td>
                                            <td>{{ exam.course.name }}</td>
                                            <td>دکتر {{ exam.course.teacher.name }}</td>
                                            <td>{{ exam.jalali_datetime }}</td>
                                            <td>{{ exam.get_score(current_user) }}</td>
                                        </tr>  
                                    {% endfor %}
                                </tbody>
                            </table></div>
                    {% else %}
                        <div class="alert alert-primary my-4">
                            تا کنون در آزمونی شرکت نکرده اید.
                        </div>
                    {% endif %}
                </article>
            </div>
        </div>
    </main>
{% endblock %}