{% extends 'base.html' %}
{% block title %} 
    داشبورد استاد
{% endblock %}

{% block main %}
    <main class="admin_dashboard h-100">
        <div class="row m-0  h-100">
           {% include 'teacher/teacher_sidebar.html' %}
            <div class="col-9 content ms-auto">
                <article class ="" id="exams">
                    <h4 class="my-4 py-4">آزمون ها ثبت شده:</h4>
                    
                    {% if exams|length %}
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">عنوان آزمون</th>
                                <th scope="col">نام درس </th>
                                <th scope="col">تاریخ</th>
                                <th scope="col">مهلت آزمون</th>
                                <th scope="col">تعداد سوالات</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for exam in exams %}
                                    <tr>
                                        <th scope="row">{{loop.index}}</th>
                                        <td>{{ exam.name }}</td>
                                        <td>{{ exam.course.name }}</td>
                                        <td>{{ exam.jalali_datetime }}</td>
                                        <td>{{ exam.duration }} دقیقه</td>
                                        <td>{{ exam.questions | length }}</td>
                                    </tr>  
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-primary my-4">
                            تا کنون آزمونی ثبت نکرده اید.
                        </div>
                    {% endif %}
                </article>
                <article class ="d-none" id="new_exam">
                    <h4 class="my-4 py-4">ثبت آزمون جدید</h4>
                    <form id="create_new_exam" action="/create_new_exam" method="POST">
                        {{ exam_form.hidden_tag() }}
                        <div class="exam_form form-group row border rounded-3 p-2">
                            <div class="form-group col-12 col-sm-6  mb-4">
                                <small class="text-muted mb-2">{{ exam_form.title.label }}:</small>
                                {{ exam_form.title(class="form-control" , id="title") }}
                            </div>
                            <div class="form-group col-12 col-sm-6  mb-4">
                                <small class="text-muted mb-2">{{ exam_form.course.label }}:</small>
                                {{ exam_form.course(class="form-control", id="course") }}
                            </div>
                            <div class="form-group col-12 col-sm-6  mb-4">
                                <small class="text-muted mb-2">{{ exam_form.datetime.label }}:</small>
                                {{ exam_form.datetime(class="form-control", id="datetime") }}
                            </div>
                            <div class="form-group col-12 col-sm-6  mb-4">
                                <small class="text-muted mb-2">{{ exam_form.duration.label }}:</small>
                                {{ exam_form.duration(class="form-control", id="duration") }}
                            </div>
                            <div class="form-group col-12 col-sm-6  mb-2">
                                <button type="submit" class="btn btn-primary confirm_exam ">تایید  و ادامه</button>
                            </div>
                        </div>
                    </form>
                    <div class="add_new_question_placeholder d-none border-muted border-2 border-dashed my-4 row d-flex justify-content-center align-items-center fs-3 text-muted p-4">
                        <span class="w-auto">افزودن سوال</span>
                        <span class="bi-plus-circle w-auto"></span>
                    </div> 
                </article>
                <article class="d-none" id="edit_exam">
                    <h4 class="my-4 py-4">ویرایش آزمون</h4>
                    {% if exams|length %}
                    <div class="form-group d-flex">
                        <select class="select_exam_for_edit ">
                            <option>انتخاب آزمون مورد نظر</option>
                            {% for exam in exams %} 
                                <option value="{{ exam.id }}">{{ exam.name }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-main ms-2" id="edit_exam">ویرایش</button>
                    </div>
                    <form id="edit_exam_form"  class="edit_part d-none my-4" action="/create_new_exam" method="POST">
                        {{ exam_form.hidden_tag() }}
                        <div class="exam_form form-group row border rounded-3 p-2">
                            <div class="form-group col-12 col-sm-6  mb-4">
                                <small class="text-muted mb-2">{{ exam_form.title.label }}:</small>
                                {{ exam_form.title(class="form-control" , id="title") }}
                            </div>
                            <div class="form-group col-12 col-sm-6  mb-4">
                                <small class="text-muted mb-2">{{ exam_form.course.label }}:</small>
                                {{ exam_form.course(class="form-control", id="course") }}
                            </div>
                            <div class="form-group col-12 col-sm-6  mb-4">
                                <small class="text-muted mb-2">{{ exam_form.datetime.label }}:</small>
                                {{ exam_form.datetime(class="form-control", id="datetime") }}
                            </div>
                            <div class="form-group col-12 col-sm-6  mb-4">
                                <small class="text-muted mb-2">{{ exam_form.duration.label }}:</small>
                                {{ exam_form.duration(class="form-control", id="duration") }}
                            </div>
                            <div class="form-group col-12 col-sm-6  mb-2">
                                <button type="submit" class="btn btn-primary confirm_exam ">تایید </button>
                                <button type="button" class="btn btn-danger delete_exam ">  حذف آزمون </button>
                            </div>
                        </div>
                    </form>
                    <div class="add_new_question_placeholder d-none border-muted border-2 border-dashed my-4 row d-flex justify-content-center align-items-center fs-3 text-muted p-4">
                        <span class="w-auto">افزودن سوال</span>
                        <span class="bi-plus-circle w-auto"></span>
                    </div> 
                    {% else %}
                        <div class="alert alert-primary my-4">
                            تا کنون آزمونی ثبت نکرده اید.
                        </div>
                    {% endif %}
                </article>
                <article class ="d-none" id="answers">
                    <h4 class="my-4 py-4">پاسخنامه های دانشجویان</h4>
                   
                </article>
                <article class ="d-none" id="reports">
                    <h4 class="my-4 py-4">دانشجویان</h4>
                    <!-- <div class="form-group text-end mb-3">
                        <button type="button" class="btn btn-main teacher_add_new_course" data-toggle="modal" data-target="#exampleModal" data-whatever="teacher">افزودن درس</button>
                    </div> -->
                    {% if not current_user.courses_of_teacher %}
                        <div class="alert alert-primary" role="alert">
                            درسی تا به حال انتخاب نشده است.
                        </div>
                    {% else %}
                        <table class="table table-bordered ">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">عنوان درس</th>
                                <th scope="col">تعداد دانشجویان ثبت نام کرده</th>
                            </tr>
                            </thead>
                            <tbody>

                                {% for course in current_user.courses_of_teacher %}
                                    <tr>
                                        <th scope="row">{{ loop.index}}</th>
                                        <td>{{ course.name }}</td>
                                        <td>{{ course.enrolled_students.all() | length }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </article>
                <article class ="d-none" id="courses">
                    <h4 class="my-4 py-4">درس های من</h4>
                    <div class="form-group text-end mb-3">
                        <button type="button" class="btn btn-main add_new_course" data-toggle="modal" data-target="#exampleModal" data-whatever="teacher">افزودن درس</button>
                    </div>
                    <div class="d-flex add_to_lessons mb-4 d-none">
                        <select name="selected_course" id="select_course">
                            <option >درس مورد نظر </option>
                            {% for c in courses %}
                                <option value="{{ c.id }}"> {{ c.name }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-success submit ms-2">ثبت</button>
                    </div>
                    {% if not current_user.courses_of_teacher %}
                        <div class="alert alert-primary" role="alert">
                            درسی تا به حال انتخاب نشده است.
                        </div>
                    {% else %}
                        <table class="table table-bordered ">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">عنوان درس</th>
                                <th scope="col">تعداد واحد </th>
                            </tr>
                            </thead>
                            <tbody>

                                {% for course in current_user.courses_of_teacher %}
                                    <tr>
                                        <th scope="row">{{ loop.index}}</th>
                                        <td>{{ course.name }}</td>
                                        <td>{{ course. units }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    
                </article>
            </div>
        </div>
    </main>
{% endblock %}